ConsoleApplication1/bin/Debug/
ConsoleApplication1/obj/x86/
WcfService1/obj/Release/
WcfService1/obj/Debug/
OraOps11w.dll
WcfService1/bin/
WcfService1/oci.dll
WcfService1/orannzsbb11.dll
WcfService1/oraociei11.dll
oci.dll
orannzsbb11.dll
oraociei11.dll
